# Postrges settings
## Documentation for this image and available settings can be found on hub.docker.com
## https://hub.docker.com/_/postgres
## Please keep in mind this will create a superuser and it's recommended to use a less privileged
## user to connect to the database.
#TODO: add link to user migration guide
POSTGRES_IMAGE_TAG=alpine
POSTGRES_DATA_PATH=./volumes/db/var/lib/postgresql/data

POSTGRES_USER=mmuser
POSTGRES_PASSWORD=mmuser_password
POSTGRES_DB=mattermost

# Nginx
## The nginx container will use a configuration found at the NGINX_MATTERMOST_CONFIG. The config aims
## to be secure and uses a catch-all server vhost which will work out-of-the-box. For additional settings
## or changes ones can edit it or provide another config. Important note: inside the container, nginx sources
## every config file inside */etc/nginx/conf.d* ending with a *.conf* file extension.

## Inside the container the uid and gid is 101. The folder owner can be set with
## `sudo chown -R 101:101 ./data/mattermost`.
NGINX_IMAGE_TAG=alpine

NGINX_MATTERMOST_CONFIG=./nginx/mattermost.conf
NGINX_DHPARAMS_FILE=./nginx/dhparams4096.pem

CERT_PATH=./certs/fullchain.pem
KEY_PATH=./certs/privkey.pem

## Exposed ports to the host. Inside the container 80 and 443 will be used
HTTPS_PORT=443
HTTP_PORT=80

# Mattermost settings
## Inside the container the uid and gid is 2000. The folder owner can be set with
## `sudo chown -R 2000:2000 ./data/mattermost`.
MATTERMOST_CONFIG_PATH=./data/mattermost/config
MATTERMOST_DATA_PATH=./data/mattermost/data
MATTERMOST_LOGS_PATH=./data/mattermost/logs
MATTERMOST_PLUGINS_PATH=./data/mattermost/plugins
MATTERMOST_CLIENT_PLUGINS_PATH=./data/mattermost/client-plugins

MATTERMOST_IMAGE=mattermost-enterprise-edition
MATTERMOST_IMAGE_TAG=latest

## Configuration settings for Mattermost. Documentation on the variables and the settings itself can be found at
## https://docs.mattermost.com/administration/config-settings.html
## Keep in mind that variables set here will take precedence over the same setting in config.json. This includes
## the system console as well and settings set with env variables will be greyed out.

## Below one can find necessary settings to spin up the Mattermost container
MM_SQLSETTINGS_DRIVERNAME=postgres
MM_SQLSETTINGS_DATASOURCE=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?sslmode=disable&connect_timeout=10

## Example settings (any additional setting added here also needs to be introduced in the docker-compose.yml)
MM_SERVICESETTINGS_SITEURL=https://mm.example.com
MM_LOGSETTINGS_CONSOLELEVEL=debug
MM_LOGSETTINGS_FILELEVEL=debug
MM_PASSWORDSETTINGS_MINIMUMLENGTH=6
MM_PASSWORDSETTINGS_SYMBOL='false'
MM_PASSWORDSETTINGS_UPPERCASE='false'
