name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
#   pull_request_target:
#     types: [assigned, opened, synchronize, reopened]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Build
        run: go build -v ./...

      - name: Test
        run: |
          go test -coverpkg=./... -coverprofile=coverage.tmp.txt -covermode=atomic ./... || true
          cat coverage.tmp.txt | grep -v -e "generated.go" -e "_gen.go" > coverage.txt
        env:
          KEPLOY_API_KEY: 81f83aeeedddf453966347dc136c66
      - uses: codecov/codecov-action@v2
        with:
          files: ./coverage.txt
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ./coverage.txt
