name: Go on Windows

on:
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.22"

      - name: Build amd64
        run: |
          set GOARCH=amd64
          go build -v ./...
        shell: cmd

      - name: Build arm64
        run: |
          set GOARCH=arm64
          go build -v ./...
        shell: cmd

      - uses: codfish/semantic-release-action@v1
        with:
          dry_run: true
          additional_packages: |
            ['@semantic-release/exec']
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
