name: Golang On Linux
on: [pull_request]
jobs:
  golang_linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Build binary
      run: |
        go build -o keployv2
    - name: Checkout the samples-go repository
      uses: actions/checkout@v2
      with:
        repository: keploy/samples-go
        path: samples-go
    - name: Run samples-go application
      run: |
        cd samples-go/gin-mongo
        source ./../../.github/workflows/workflow_scripts/golang-linux.sh

