name: Golang On Linux
on: [pull_request]
jobs:
  golang_linux:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install libpcap
      run: |
        sudo apt-get update
        sudo apt-get install -y libpcap-dev
    - name: Build binary
      run: |
        go build -race -tags=viper_bind_struct -o keployv2
    - name: Checkout the samples-go repository
      uses: actions/checkout@v2
      with:
        repository: keploy/samples-go
        path: samples-go
    - name: Run samples-go application
      run: |
        cd samples-go/gin-mongo
        source ./../../.github/workflows/test_workflow_scripts/golang-linux.sh

