name: Prepare Binary and Run Workflows
on:
  pull_request:
    branches: [main]
jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build Keploy (PR)
        run: go build -race -tags=viper_bind_struct -o keploy
      - uses: actions/upload-artifact@v4
        with: { name: build, path: keploy }
  
  upload-latest:
    runs-on: ubuntu-latest
    steps:
      - name: Upload latest release
        run: |
          LATEST=$(curl -s https://api.github.com/repos/keploy/keploy/releases/latest | jq -r .tag_name)
          URL="https://github.com/keploy/keploy/releases/download/${LATEST}/keploy_linux_amd64.tar.gz"
          curl -L "$URL" -o keploy.tar.gz
          tar -xzf keploy.tar.gz
          chmod +x keploy
      - uses: actions/upload-artifact@v4
        with: { name: latest, path: keploy }

  run_golang_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/golang_linux.yml
  run_golang_http_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/golang_http_linux.yml
  run_golang_mysql_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/golang_mysql_linux.yml
  run_golang_docker:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/golang_docker.yml
  run_golang_docker-compose:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/golang_docker-compose.yml
  run_java_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/java_linux.yml
  run_node_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/node_linux.yml  
  run_node_docker:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/node_docker.yml
  run_python_docker:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/python_docker.yml
  run_python_linux:
    needs: [build-and-upload, upload-latest]
    uses: ./.github/workflows/python_linux.yml